@charset "UTF-8";
body{
    background-color: #dddddd67;
    color: rgb(0, 0, 1);
    text-align: justify;
    text-indent: 50px;
}
div#interface{
    width: 900px;
    background-color: white;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}
header#cabecalho img#icone{
    position: absolute;
    top: 50px;
    left: 900px;
}
nav#menu{
    display: block;
}
nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 0px;
    left: 300px;
}
nav#menu h1{
    display: none;
}
nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background 0.5s;
}
nav#menu li:hover{
    background-color: #60606071;
}
nav#menu  a{
    color: #000;
    text-decoration: none;
}
nav#menu a:hover{
    color: #ffff;
}
h3{
    background-color: gray;
}
table{
    border-collapse: collapse;
    text-align: center;
}
th, td{
    border: 1px solid black;
    padding: 20px;
}
aside{
    display: block;
    background-color: rgba(169, 169, 169, 0.507);
    width: 500px;
    height: 400px;
    
}
aside >h3{
    background-color: gray;
}
footer{
    text-align: center;
}