@charset "UTF-8";
body{
    text-align: justify;
    text-indent: 2em;
}
nav#menu{
    display: block;
}
nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 0px;
    left: 300px;
}
nav#menu h1{
    display: none;
}
nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
}
h3{
    background-color: gray;
}
table{
    border-collapse: collapse;
    text-align: center;
}
th, td{
    border: 1px solid black;
    padding: 20px;
}
aside{
    display: block;
    background-color: rgba(169, 169, 169, 0.507);
    width: 500px;
    height: 400px;
    
}
aside >h3{
    background-color: gray;
}
footer{
    text-align: center;
}